<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Records Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>
	<h2>Please select the users you would like to invite to the meeting</h2>
	<p
		th:text=" 'This is your attempt number ' + ${attempt} "></p>
	<div th:if="${attempt}==3">
		<p th:text=" 'Be careful because this is the last one! ' "></p>
	</div>
	
	<div th:if="${rUsers.size()>0}">
		<form th:action="@{/InviteToMeeting}" method="POST">
		 <table>
		 	<thead>
			   <tr>
			   		<th>Invited	</th>
			   		<th>Username</th>
			   		<th>Email</th>
			   		<th>Name</th>
			   		<th>Surname</th>
			    </tr>
			</thead>
			<tbody>
				<tr th:each="u: ${rUsers}">
					
					<td><input type="checkbox" th:value="${u.username}" th:name="id" th:checked="${sUsers!=null && sUsers.contains(u.username)}"/></td>
					<td th:text="${u.username}"></td>
					<td th:text="${u.email}"></td>
					<td th:text="${u.name}"></td>
					<td th:text="${u.surname}"></td>
				</tr>
			</tbody>	
		 </table>
		
		<div th:if="${toDeselect}!=null">
			<p th:text=" 'You need to deselect ' + ${toDeselect} + ' user(s)' "></p>
		</div>
		
		<input type="submit" name="Invite people"/>
		</form>
	</div>
	
	
		
</body>