<!DOCTYPE html>
<html class="background" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Records Page</title>
	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="stylesheet" type="text/css" media="all" href="./css/website.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
	<h2 style="margin:40px" class="text">Please select the users you would like to invite to the meeting</h2>
	<p style="margin:20px"class="text" th:text=" 'This is your attempt number ' + ${attempt} "></p>
	<div th:if="${attempt}==3">
		<p class="text" style="margin:10px" th:text=" 'Be careful because this is the last one! ' "></p>
	</div>
	
	<div th:if="${rUsers.size()>0}">
		<form th:action="@{/InviteToMeeting}" method="POST">
		 <table>
		 	<thead>
			   <tr>
			   		<th>Invited</th>
			   		<th>Username</th>
			   		<th>Email</th>
			   		<th>Name</th>
			   		<th>Surname</th>
			    </tr>
			</thead>
			<tbody>
				<tr th:each="u: ${rUsers}">					
					<td><input type="checkbox" th:value="${u.username}" th:name="id" th:checked="${sUsers!=null && sUsers.contains(u.username)}"/></td>
					<td th:text="${u.username}"></td>
					<td th:text="${u.email}"></td>
					<td th:text="${u.name}"></td>
					<td th:text="${u.surname}"></td>
				</tr>
			</tbody>	
		 </table>
		
		
		<div class="sticky">
			<button class="button submit-button" type="submit">Invite people</button>
		</div>
		
		<div th:if="${toDeselect!=null && toDeselect!=0}">
			<p class="warning" th:text=" 'You need to deselect ' + ${toDeselect} + ' user(s)' "></p>
		</div>
		
		</form>
	</div>
		
</body>